.container
  .row
    .col-half
      .col-half.right-border
        %h1.text-center Sonar
      .col-half.right-border
        %h2.text-center Properties
    .col-half
      %h2.text-center Property
